$rd-progress-bg: #111;
$rd-progress-color: #FFF;
/*
* MF Controls
*/
.mfControls {
  margin-top: 36px;
  word-spacing: 10px;
  text-align: center;

  > * {
    word-spacing: normal;
    margin-bottom: 5px;
  }
  button {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;

    @media (min-width: 992px) {
      padding: 17px 54px;
    }

  }

  .btn:active span.cnt, .btn:focus span.cnt{
    position: relative;
    top: 0;
    left: 0;
  }
}

/*
* MF Submit
*/

.mfProgress {
  position: relative;
  @include transition(.3s);
  .cnt, .loader {
    @include transition(.4s all ease-in-out);
  }

  .loader {
    opacity: 0;
    text-align: center;
    letter-spacing: 10px;


    &, &:before, &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      margin: auto;
    }

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
    }

    &:after {
      content: '';
      width: 30px;
      height: 30px;
      color: #fff;
      font: 300 16px $fa;
      line-height: inherit;
      @include transition(.4s all ease-in-out);
      @include transform(scale(0) rotate(-60deg));
    }
  }

  &.sending,
  &.fail,
  &.success {
    .cnt {
      @include transform(scale(1.2));
    }

    .loader {
      @include transform(scale(1));
    }
  }

  &.fail,
  &.success {
    .loader {
      &:before {
        @include animation(fout .4s ease-in-out 1 forwards);
      }

      &:after {
        @include transform(scale(1) rotate(0deg));
      }
    }
  }

  &.sending {
    .loader {
      &:before {
        @include animation(motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite);
      }
    }
  }

  &.fail {
    .loader {
      &:after {
        content: '\f06a';
      }
    }
  }

  &.success {
    .loader {
      &:after {
        content: '\f058';
      }
    }
  }
}


.mfProgress {
  .msg {
    @include transform-origin(0% 50%);
    @include transition(.3s all ease);
    @include animation(notifanim-fo .4s ease-in-out forwards);
    @include box-sizing(border-box);
    @include box-shadow(2px 2px 2px 0 rgba(#000, 0.5));
    position: absolute;
    padding: 10px;
    border-radius: $input-border-radius;
    font-size: $input-font-size;
    line-height: 20px;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 50%;
    width: 230px;
    margin-left: -115px;
    margin-top: 20px;
    color: $rd-progress-color;
    @include transform-origin(50% 100%);

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      right: 50%;
      transform: translate(50%, 0%);
      @include triangle(top, 12px, 6px, #111);
      @include transition(.4s all ease-in-out);
    }
  }

  &.fail,
  &.success {
    .msg {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
      @include animation(notifanim .4s ease-in-out forwards);
    }
  }

  &.fail {
    .msg {
      background: #F44336;

      &:before {
        @include triangle(top, 12px, 6px, #F44336);
      }
    }
  }

  &.success {
    .msg {
      background: #2E7D32;

      &:before {
        @include triangle(top, 12px, 6px, #2E7D32);
      }
    }
  }
}

@include keyframes(motion) {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}