/*
* MF Validation
*/

$rd-validation-color: #f00;

.mfValidation {
  position: absolute;
  top: -2px;
  padding-left: nth($input-padding, 2);
  right: 4px;
  color: $rd-validation-color;
  font-weight: $input-font-weight;
  font-size: 11px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
  transition: .3s all ease;
  cursor: pointer;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide, &.valid {
    opacity: 0;
    visibility: hidden;
  }
  &:hover{
    right: 8px;
  }
}