<template lang="html">

  <div class="row">

    <div class="col-md-8">
      <div class="panel panel-info panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">Ingresos / Tickets</h3>
        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-6">
              <e-chartBar :chartData="this.chartDataPurch"></e-chartBar>
            </div>
            <div class="col-md-6">
              <e-chart :chartData="this.chartDataInside"></e-chart>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-warning panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">Estado</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <count-down :start="event.start_date" :end="event.end_date"></count-down>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-warning panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">Kpi's Ventas</h3>
        </div>
        <div class="panel-body">
          <div class="row" v-for="tp in ticketsType" :key="tp.key">
            <div class="col-md-12">
              <h4><span class="label label-info"> {{ tp.name }}: </span></h4>
            </div>
            <div class="col-md-4 text-center">
              Vedidos: <hr>
              <strong>{{ (tp.tickets - tp.available_tickets) }}</strong>
            </div>
            <div class="col-md-4 text-center">
              Disponibles: <hr>
              <strong>{{ tp.available_tickets }}</strong>
            </div>
            <div class="col-md-4 text-center">
              Total Ventas: <hr>
              <strong>${{ ((tp.tickets - tp.available_tickets) * tp.price ) }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <h4><span class="label label-success"> Totales: </span></h4>
            </div>
            <div class="col-md-3">
              Tickets: <hr>
              <strong>${{ this.allTotal}}</strong>
            </div>
            <div class="col-md-3">
              Descuentos: <hr>
              <strong>- ${{ this.totals.total_discount}}</strong>
            </div>
            <div class="col-md-3">
              Servicio: <hr>
              <strong>+ ${{ this.totals.total_service}}</strong>
            </div>
            <div class="col-md-3">
              Evento: <hr>
              <strong>= ${{ this.totals.total_sold}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-primary panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">Lista de Asistentes</h3>
        </div>
        <div class="panel-body">

          <div class="table-responsive" v-show="table">
              <table id="dataTable" class="table table-hover">
                  <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>E-mail</th>
                        <th>Rut </th>
                        <th>Telefono</th>
                        <th>Categoria</th>
                        <th>Género</th>
                        <th>Chek-in</th>
                      </tr>
                   </thead>
                   <!-- for data -->
                   <tbody>
                      <tr v-for="a in assistants" :key="a.key" data-href="reporte" style="cursor:pointer">
                        <td>{{ a.name }}</td>
                        <td>{{ a.email }}</td>
                        <td>
                          <span v-if="a.rut"> {{ a.rut }}</span>
                          <span v-else> No definido</span>
                        </td>
                        <td>
                          <span v-if="a.phone"> {{ a.phone }}</span>
                          <span v-else> No definido</span>
                        </td>
                        <td>
                          <span v-if="a.cat_name"> {{ a.cat_name }}</span>
                          <span v-else> No definido</span>
                        </td>
                        <td v-if="a.gender == 1" style="text-align:center"><i class="fa fa-male fa-2x"></i></td>
                        <td v-if="a.gender == 2" style="text-align:center"><i class="fa fa-female fa-2x"></i></td>
                        <td v-if="a.status === 0"><i class="voyager-tag"></i></td>
                        <td v-else><i class="voyager-check"></i></td>
                      </tr>
                   </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" align="center">
      <a :href="'/admin/export-assistant-list/'+this.event.id"  class="btn btn-success" > <i class="fa fa-file-excel"></i> Exportar Lista de Asistentes</a>
    </div>

  </div>
</template>

<script>

export default {
  //get vars from backend
  props: ['route','event','csrf_token'],
  data(){
    return {
      chartDataPurch: {
        type: Object,
        default: null
      },
      chartDataInside: {
        type: Object,
        default: null
      },
      ticketsType:[],
      tickets:[],
      assistants:[],
      totals:[],
      allTotal: 0,
      table:false,
    }
  },
  created() {
    this.getData();
  },
  methods: {
    random_rgba() {
      var o = Math.round, r = Math.random, s = 255;
      return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    },
    getData() {
      const vm = this;
      Vue.axios.post(this.route,
      {
        id: vm.event.id,
        csrf_token:vm.csrf_token

      }).then(function(response) {

        var allData = response.data
        vm.ticketsType = response.data.ticketsType
        vm.tickets = response.data.tickets
        vm.assistants= response.data.assistants
        vm.totals = response.data.totals
        //Reload Show table
        vm.table = true
        //make dinamic parameter to bar charts
        var labels_=[]
        var data_=[]
        var colors=[]

        vm.ticketsType.forEach(function(tp){
          labels_.push(tp.name)
          data_.push(tp.tickets - tp.available_tickets)
          colors.push(vm.random_rgba())
          vm.allTotal = vm.allTotal + ((tp.tickets - tp.available_tickets) * tp.price)
        })

        //Make bar charts (sold tickets)
        vm.chartDataPurch = {
          labels: labels_,
          datasets:[{
            label:'Ventas por ticket',
            data: data_,
            backgroundColor: colors,
            borderColor: colors,
            borderWidth:1
          }]
        }

        //Make dinamic parameters to pie chart
        var in_ = 0
        var out_= 0
        vm.tickets.forEach(function(t){
          if(t.status==0){
            out_ = out_+1
          } else {
            in_=in_+1
          }
        })
        //Make chart inside
        vm.chartDataInside = {
          datasets: [{
            data: [in_,out_],
            backgroundColor: [vm.random_rgba(),vm.random_rgba()]
          }],
          labels: [
            'Ingresados',
            'No Ingresados'
          ]}


      }).catch(function(error){
        console.log(error);
      });

      //Real time feel
      if(Date.parse(this.event_end) > Date.parse(Date())){
        setTimeout(this.getData,3000);
        //console.log("No finalizado");
      }

    }//End funciton getData

  }


} //End export default
</script>

<style lang="scss">
.text-center{
  text-align: center !important;
}
</style>
