<template>
    <vue-countdown-timer
      @start_callback="startCallBack('event started')"
      @end_callback="endCallBack('event ended')"
      :start-time="this.start"
      :end-time="this.end"
      :interval="1000"
      :start-label="'Evento comienza en'"
      :end-label="'Evento Termina en'"
      label-position="begin"
      :end-text="'¡Evento Finalizado!'"
      :day-txt="'D'"
      :hour-txt="'H'"
      :minutes-txt="'min'"
      :seconds-txt="'seg'">
      <template slot="start-label" slot-scope="scope">
        <span style="color: red" v-if="scope.props.startLabel !== '' && scope.props.tips && scope.props.labelPosition === 'begin'">{{scope.props.startLabel}}:</span>
        <span style="color: blue" v-if="scope.props.endLabel !== '' && !scope.props.tips && scope.props.labelPosition === 'begin'">{{scope.props.endLabel}}:</span>
      </template>

      <template slot="countdown" slot-scope="scope">
        <br>
        <span class="font-time" v-if="scope.props.days != 0">{{scope.props.days}}</span><i v-if="scope.props.days != 0">{{scope.props.dayTxt}}</i> &nbsp;
        <span class="font-time" v-if="scope.props.hours != 0">{{scope.props.hours}}</span><i v-if="scope.props.hours != 0">{{scope.props.hourTxt}}</i> &nbsp;
        <span class="font-time" v-if="scope.props.minutes != 0">{{scope.props.minutes}}</span><i v-if="scope.props.minutes != 0" accesskey="">{{scope.props.minutesTxt}}</i> &nbsp;
        <span class="font-time" v-if="scope.props.seconds != 0">{{scope.props.seconds}}</span><i v-if="scope.props.seconds != 0">{{scope.props.secondsTxt}}</i> &nbsp;
      </template>

      <template slot="end-label" slot-scope="scope">
        <span style="color: red" v-if="scope.props.startLabel !== '' && scope.props.tips && scope.props.labelPosition === 'end'">{{scope.props.startLabel}}:</span>
        <span style="color: blue" v-if="scope.props.endLabel !== '' && !scope.props.tips && scope.props.labelPosition === 'end'">{{scope.props.endLabel}}:</span>
      </template>

      <template slot="end-text" slot-scope="scope">
        <span style="color: green">{{ scope.props.endText}}</span>
      </template>
    </vue-countdown-timer>
</template>

<style>
.font-time {
  font-size: 18px;
}
</style>

<script >
  export default {
    props: ['start','end'],
    name: 'Timer',
    methods: {
      startCallBack: function (x) {
        console.log(x)
      },
      endCallBack: function (x) {
        console.log(x)
      }
    },
    created() {
      //do something after creating vue instance
      //alert(this.start);
    }
  }
</script>
