<template>
  <div class="row content-box">

    <div class="col-md-6 reader-box" v-if="assistant==null" >
      <!-- Reader -->
      <qrcode-stream :paused="paused" @decode="onDecode" @init="logErrors">
        <div v-show="paused" class="validation-layer"></div>
      </qrcode-stream>
    </div>
   <!-- info and action btn props -->
    <div class="col-md-6 well" v-if="assistant!=null">
      <div class="col-md-7">
        Nombre: {{ assistant.name  }} <br>
        email: {{ assistant.email  }} <br>
        <span v-if="assistant.bday">Edad: {{ assistant.bday }} </span>
      </div>
      <div class="col-md-5">
        <span v-for="p in props_list" :key="p.key">
          <a @click="toggleBurnProp(p.id_tk,p.id_ch)" v-if="p.status==0" href="#" class="btn btn-default">
            {{ p.name }}
            <i class="voyager-x"></i>
          </a>
          <a @click="toggleBurnProp(p.id_tk,p.id_ch)" v-if="p.status==1" href="#" class="btn btn-success">
            {{ p.name }}
            <i class="voyager-check"></i>
          </a>
        </span>
      </div>
      <div class="col-md-12" style="margin-top:50" v-if="assistant!=null">
        <a @click="scanNew()" href="#" class="btn btn-primary btn-lg full"> Scan Ticket</a>
      </div>
    </div>


  </div>
</template>

<script>
export default {
  props: ['url_burn_gd', 'csrf_token','url_burn_ch'],
  data () {
    return {
      validating: false,
      paused: false,
      assistant:null,
      title: null,
      props_list:null,
      id:''

    }
  },

  methods: {

    async onDecode (id) {
      this.id=id
      //Pause Camara
      this.pauseCamera()
      //Get Assistant + checklist props
      this.burnGetData(id)
      //Hide loading
      window.setTimeout(() => { // pretend it's taking 1seg
       this.validating = false
      }, 1000)

    },

    pauseCamera () {
      this.paused = true
    },

    unPauseCamera () {
      this.paused = false
    },

    burnGetData(id){
      const vm = this
      Vue.axios.post(this.url_burn_gd,
      {
        id: id,
        csrf_token:vm.csrf_token

      }).then(function(response) {

        vm.assistant = response.data.assistant
        vm.props_list= response.data.props_list
        vm.title = response.data.title

        //Success toast
        let toast = vm.$toasted.show("Ticket Ingresado!", {
        type: "success",
        position: "top-center",
        duration : 5000,
        icon : 'check'
        });

      }).catch(function(error){
        console.log(error);
      });
    },

    logErrors (promise) {
      promise.catch(console.error)
    },

    toggleBurnProp(id_tk,id_ch){
      const vm = this
      Vue.axios.post(this.url_burn_ch,
      {
        id_tk: id_tk,
        id_ch: id_ch,
        csrf_token:vm.csrf_token

      }).then(function(response) {
        vm.props_list= response.data
        //Success toast
        let toast = vm.$toasted.show("Accesorio actualizado!", {
        type: "success",
        position: "top-center",
        duration : 5000,
        icon : 'check'
        });

      }).catch(function(error){
        console.log(error);
      });
    },

    scanNew(){
      //Hide detail-box (reset vars)
      this.assistant=null
      this.props_list=null
      //Show camara
      this.unPauseCamera();
    }

  }
}
</script>

<style lang="scss">
.content-box{
  margin-top:50px;
}
.detail-box{
  background-color: #EE;
  padding:20px;
  color:white;
}
.validation-layer {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, .8);
  padding: 10px;
}

.full{
  width: 100% !important;
}

</style>
