<template lang="html">
  <div class="row">

    <div id="voyager-loader" style="display:none">
      <img src="/vendor/tcg/voyager/assets/images/logo-icon.png" alt="Voyager Loader">
    </div>

    <div class="col-md-8">
      <div class="panel panel-default panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title"> Email </h3>
        </div>
        <div class="panel-body" v-html="contentHTML">
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title"> Filtro  </h3>
        </div>
        <div class="panel-body" style="min-height:400px">
          <p class="text-danger">Si no selecciona filtro, el e-mail se enviara a su lista completa de asistentes.</p>
          <p>
          <label class="typo__label">Filtre por evento: </label>
          <multiselect v-model="value_events"
                       :options="this.events"
                       :multiple="true"
                       :close-on-select="true"
                       :clear-on-select="false"
                       :preserve-search="true"
                        placeholder="Seleccione"
                        label="title"
                        track-by="id"
                       :preselect-first="false">
          </multiselect>
          </p>
          <p>
          <label class="typo__label">Filre por Género</label>
          <multiselect v-model="value_genders"
                       :options="this.genders"
                       :searchable="false"
                       :close-on-select="true"
                       placeholder="Seleccione Género"
                       label="gender"
                       track-by="id">
          </multiselect>
          </p>

          <p>
            <a href="#" v-on:click="sendEmail" class="btn btn-success pull-right" ><i class="voyager-paper-plane"></i> Enviar</a>

          </p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import Multiselect from 'vue-multiselect';
Vue.component('multiselect', Multiselect);

export default {
  props: ['events','current'],
  data(){
    return {
      contentHTML: this.current.content,
      genders: [{ 'id':1, 'gender':'Masculino' },
                { 'id':2, 'gender':'Femenino'},
                { 'id':3, 'gender': 'Maculino/Femenino' } ],
      value_events:[],
      value_genders:[]
    }
  },
  created() {
    //Fix profile menu
    $(".dropdown-toggle").click(function(){
      $( ".profile" ).toggleClass("open");
    });
  },
  methods: {
    sendEmail() {
      var vm = this;
      //show process weel
      $("#voyager-loader").show();

      axios.post('/admin/mail/sendEmailUsers',
    {
      events: this.value_events,
      gender:this.value_genders,
      current: this.current,

    }).then(function(response, status, request) {
      console.log(response.data);
      $("#voyager-loader").hide();
      if(response.data==1){
        let toast = vm.$toasted.show("Los correos han sido enviados.", {
        type: "success",
        position: "top-right",
        duration : 5000
        });
      }else{
        let toast = vm.$toasted.show("Los correos han sido enviados, con algunas excepciones.", {
        type: "success",
        position: "top-right",
        duration : 5000
        });
      }

    }, function() {
        let toast = vm.$toasted.show("Los correos han sido enviados, con algunas excepciones.", {
        type: "success",
        position: "top-right",
        duration : 5000
        });
    });


    }
  }

}//End export
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
