
<script>
import { Pie, mixins } from 'vue-chartjs'
const  { reactiveProp } = mixins

export default {
  extends: Pie,
  mixins: [reactiveProp],
  props:['chartData'],
  mounted () {
    this.renderChart(this.chartData, {responsive: true })
  },
  created() {
    //do something after creating vue instance
    //console.log(this.chartData);
  }
}
</script>

<style lang="css">
</style>
