/*========================   Menu   ==========================*/

//--------------------------------------------------------------
//                       Menu Styles
//--------------------------------------------------------------
.header-area {
    position: absolute;
    padding: 0.5em;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(50, 50, 50, 0.10);
    z-index: 9;
}

.sf-menu{
  width: 100%;
  float: left;
  padding-left: 1em;
  padding-right: 2em;
}

.sf-menu ul li{
  float: right;
  list-style-type: none;
  text-align: left;
  padding-left: 1em;
}

.menu ul li a {
  padding: 10px;
}

/*
.sf-menu ul {
  display: inline-block;
  float:left;

  > li {
    position: relative;
    float: right;

    & + li {
      margin-right: 30px;
    }
  }

  a {
    display: inline-block;
  }
}
.sf-menu .brand{
  float: left !important;
}
*/

.sticky {
  position: fixed;
  top: 0;
  z-index: 2000;
}
//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 767px) {
  .sf-menu ul li a:hover{
    text-decoration: none;
    color:inherit;
    }
}
