//========================================================
//                     Variables
//=========================================================

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$default-font: 'Montserrat', sans-serif;

$primary: #ff8a65;
$secondary: #ffb74d;
$default: #000;
$contrast: #fff;
$white: #fff;

$secondary-1: #3f312b;
$secondary-2: #547abb;
$secondary-3: #e75854;


$border-radius-base: 2px;
$border-radius-large: 5px;

$box-shadow-ambient: 0 0 2px 0 rgba(#000, .11);
$box-shadow-key-light: 3px 4px 5px 0 rgba(#000, .11);