﻿/*========================================================
                      Owl Carousel
=========================================================*/
@import "_mixins.scss";
@import "_variables.scss";

//------------------------------------------------------
//                   OWL STYLES
//------------------------------------------------------

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  -moz-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.owl-controls {
  position: relative;
}

.owl-carousel-wrapper {
  position: relative;
  padding-bottom: 60px;
}

.owl-stage {
  counter-reset: num;
}

.owl-counter {
  position: absolute;
  z-index: 1;
  font-size: 18px;
  color: #000;
  text-align: center;
  bottom: 0;
  left: 47%;
}
@media (min-width: 768px) {
  .owl-counter {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .owl-counter {
    left: 22.4%;
  }
}

.owl-nav {
  margin-top: 20px;
  bottom: 0;
  text-align: center;
  margin-left: 0;
}
@media (min-width: 1200px) {
  .owl-nav {
    margin-top: 30px;
    text-align: left;
    margin-left: 17%;
  }
}
.owl-nav > div + div {
  margin-left: 117px;
}
.owl-nav .owl-next, .owl-nav .owl-prev {
  color: #52433f;
  line-height: 1;
}
.owl-nav .owl-next:hover, .owl-nav .owl-prev:hover {
  color: #d2cecd;
}

.owl-nav-num {
  display: block;
  font-size: 18px;
  color: #d2cecd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.owl-nav-num .active {
  color: #000;
}

.owl-dots {
  font-size: 18px;
  letter-spacing: 3px;
  counter-reset: num;
  bottom: 11px;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: -1;
}
@media (min-width: 992px) {
  .owl-dots {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .owl-dots {
    text-align: left;
    left: 21.6%;
  }
}
.owl-dots .owl-dot {
  display: none;
}
.owl-dots .owl-dot.active {
  display: block;
}
.owl-dots .owl-dot:nth-child(1)::before {
  content: '01';
}
.owl-dots .owl-dot:nth-child(2)::before {
  content: '02';
}
.owl-dots .owl-dot:nth-child(3)::before {
  content: '03';
}
.owl-dots .owl-dot:nth-child(4)::before {
  content: '04';
}
.owl-dots .owl-dot::after {
  content: '/04';
}
