/*
* @subsection   RD Mail Form
*
* @description  Describes style declarations for RD Mail Form extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.1.2
*/
@import "_mixins.scss";
@import "_variables.scss";

$input-height: 50px;
$input-font-weight: inherit;
$input-line-height: 24px;
$input-font-size: 13px;
$input-font-family: 'Raleway';

$input-offset-top: 30px;

$input-color: lighten(saturate(adjust_hue($default, 0), 0%), 33.33333333333333%);
$input-background: $contrast;

$input-border-radius: $border-radius-base;
$input-border: none;

$input-padding: 13px 17px;

$textarea-height: 113px;

$placeholder-clr: $input-color;
$placeholder-opacity: 1;

.rd-mailform {
  padding: 20px;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-md-min) {
    padding: 40px 50px 53px;
  }

  fieldset {
    border: 0;
  }

  * {
    @include box-sizing(border-box);
  }
}

.rd-mailform label {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: $input-offset-top;

  @media (min-width: 992px){
    width: 30%;
  }
  @media (min-width: 1200px){
    width: 31%;
  }

  & + label{
    margin-top: $input-offset-top;
    margin-left: 0;
    @media (min-width: 992px){
      margin-left: 3%;
      margin-top: 0;
    }

  }

  &:first-child {
    margin-top: 0;
  }

  input, select {
    height: $input-height;
  }

  input, select, textarea {
    font-family: $input-font-family;
    font-size: $input-font-size;
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    padding: $input-padding;
    line-height: $input-line-height;
    color: $input-color;
    background: $input-background;


    @if ($input-border != none) {
      border: $input-border;
      border-radius: $input-border-radius;
    }

    &:-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &:-ms-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }
  }

  &.textarea {
    font-family: $input-font-family;
    margin-top: $input-offset-top;
    width: 100%;
    margin-left: 0;

    @media (min-width: 992px){
      width: 97%;
    }
    @media (min-width: 1200px){
      width: 100%;
    }
  }

  textarea {
    border: none;
    resize: vertical;
    overflow: auto;
    min-height: $input-height;
    height: $textarea-height;
    max-height: $textarea-height * 1.5;
    font-family: $input-font-family;
    font-size: $input-font-size;

  }

  @media (min-width: $screen-sm-min) {
    margin-top: $input-offset-top;
  }
}

/*
* MF Controls
*/

.mfControls {
  button {
  }
}

@import "mailform_modules/_mf-animation.scss";
@import "mailform_modules/_mf-placeholder.scss";
@import "mailform_modules/_mf-validation.scss";
@import "mailform_modules/_mf-submit.scss";
@import "mailform_modules/_mf-icon.scss";
@import "mailform_modules/_mf-select.scss";
@import "mailform_modules/_mf-datepicker.scss";










