/*
* @subpackage variables.css
  @subpackage mixins.css
  @package animate.css
*/
@import "_mixins.scss";
@import "_variables.scss";
@import url(https://www.flaticon.com/packs/bigmug-line);

/*
*  @section  Main Styles
*/
body {
  color: lighten(saturate(adjust_hue($default, 0), 0%), 17.254901960784313%);
  font: 400 14px/46px $default-font;
  -webkit-text-size-adjust: none;
  background: $contrast;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {

}

h1, .heading-1 {
  font-size: 40px;
  line-height: 1.3;

  @media (min-width: 767px) {
    font-size: 40px;
  }
  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

h1 {
  @media (min-width: 1200px) {
    font-size: 72px;
  }
}

h2, .heading-2 {
  font-size: 34px;
  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 50px;
  }
  @media (min-width: 1200px) {
    font-size: 46px;
  }
}

h3, .heading-3 {
  font-size: 30px;
  @media (min-width: 1200px) {
    font-size: 35px;
  }
  line-height: 1.3;
}

h4, .heading-4 {
  font-size: 26px;
  line-height: 1.2;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}

h5, .heading-5 {
  font-size: 19px;
  line-height: 1.2;
  color: $contrast;
  @media (min-width: 1200px) {
    font-size: 22px;
  }

}

h6, .heading-6 {
  font-size: 18px;
  line-height: 1.2;
  @media (min-width: 768px) {
    font-size: 17px;
  }
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

p, .marked-list, .list {
  a:hover {
    text-decoration: underline;
  }

  .fa {
    text-decoration: none;
  }
}

p {
  padding: 0px 10px;
  @media (min-width: 992px) {
    padding: 0;
  }
}

time, .meta {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 7px;

  @media (min-width: $screen-lg-min) {
    padding-left: 14px;
  }

}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  transition: .3s;
  &:hover{
    color: $primary;
  }
  &:focus {
    outline: none;
  }

  &:active {
    color: $secondary;
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
  }

  @include transition(.3s);
}

a[href^="tel:"],
a[href^="callto:"],
a[href^="mailto:"] {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
  &:active {
    color: $primary;
  }
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-'] {
  &:before {
    font-weight: 400;
    font-family: $fa;
  }
}

.page {
  overflow: hidden;
  min-height: 500px;

  .lt-ie9 & {
    min-width: 1200px;
  }
  text-align: center;
  @media (min-width: 992px) {
    text-align: left;
  }
}

/*
*  @section  Main Layout
*/

* + .box-meta {
  margin-top: 15px;
  @media (min-width: $screen-md-min) {
    margin-top: 41px;
  }
  line-height: 1.5;
}

* + .content {
  margin-top: 50px;
  @media (min-width: $screen-lg-min) {
    margin-top: 126px;
  }
}

h3 + .row-gutter-xs {
  margin-top: 15px;
  @media (min-width: $screen-md-min) {
    margin-top: 30px;
  }
}

h3 + .box-meta {
  margin-top: 18px;
}

h5 + .time {
  @media (min-width: $screen-lg-min) {
    margin-top: 10px;
  }
}

.brand + .owl-carousel {
  margin-top: 30px;
  @media (min-width: $screen-md-min) {
    margin-top: 75px;
  }
}

.box-meta + .btn {
  margin-top: 30px;
  @media (min-width: $screen-md-min) {
    margin-top: 10px;
  }
}

.box-meta-offset-2 + .btn {
  margin-top: 30px;
}

h3 + .box-meta-offset-1 {
  margin-top: 10px;
  @media (min-width: $screen-lg-min) {
    margin-top: 62px;
  }
}

p + p {
  margin-top: 25px;
}

* + .meta-wrapper {
  @media (min-width: $screen-sm-min) {
    margin-top: -10px;
  }
}

.copyright + .brand {
  margin-top: 30px;
}

.brand + .inline-list {
  margin-top: 30px;
}

@media (min-width: $screen-md-min) {
  .copyright + .brand {
    margin-top: 0;
  }
  .brand + .inline-list {
    margin-top: 0;
  }
}

.offset-1 {
  @media (min-width: $screen-lg-min) {
    margin-top: -250px;
    margin-bottom: -250px;
  }
}

.offset-2 {
  margin-top: 80px;
  @media (min-width: $screen-xs-min) {
    margin-top: 40px;
  }
  @media (min-width: $screen-md-min) {
    margin-top: 0;
  }
}

.offset-3 {
  margin-top: 25px;
  @media (min-width: $screen-sm-min) {
    margin-top: 35px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 105px;
  }

}

.offset-4 {
  margin-top: 30px;
  @media (min-width: $screen-sm-min) {
    margin-top: 0;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 6px;
  }
}

.offset-5 {
  margin-top: 70px;
  @media (min-width: $screen-md-min) {
    margin-top: 112px;
  }

}

.offset-6 {
  margin-top: 25px;
  @media (min-width: $screen-sm-min) {
    margin-top: 35px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 132px;
  }
}

.offset-7 {
  margin-top: 12px;
}

.offset-8 {
  margin-top: 80px;
  @media (min-width: $screen-md-min) {
    margin-top: 0;
  }
}

.inset-2 {
  padding-top: 30px;
  @media (min-width: $screen-md-min) {
    padding-top: 64px;
  }
}

.inset-3 {
  @media (min-width: $screen-lg-min) {
    padding-right: 40px;
  }
}

.prefix-1 {
  margin-left: 15px;
  @media (min-width: $screen-md-min) {
    margin-left: 3px;
  }
  @media (min-width: $screen-lg-min) {
    margin-left: 26px;
  }
}

.prefix-2 {
  @media (min-width: $screen-md-min) {
    margin-left: 68px;
  }
}

/*
*  @section   Helpers
*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  &-md {
    @media(min-width: 992px) {
      text-align: left;
    }
  }
}


.uppercase {
  text-transform: uppercase;
}

.border::after {
  content: '';
  width: 70px;
  border: 1px solid $primary;
  display: none;
  margin-left: 33px;
  margin-bottom: 15px;
  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

.meta-wrapper {
  display: inline-block;
}

.box-skin-1 {
  display: inline-block;
}

/*
*  @section     Components
*/

.box-meta {
  &-md {
    time, .meta {
      font-size: 14px;
      @media (min-width: $screen-lg-min) {
        font-size: 16px;
      }
    }
  }
}

/*
*  @subsection   Colors
*/

.text-default {
  color: $default;
}

.text-primary {
  color: lighten(saturate(adjust_hue($default, 0), 0%), 43.92156862745098%);
  &-md {
    @media (min-width: $screen-md-min) {
      color: lighten(saturate(adjust_hue($default, 0), 0%), 43.92156862745098%);
    }
  }
}

.text-contrast {
  color: $contrast;
  &-md {
    @media (min-width: $screen-md-min) {
      color: $contrast;
    }
  }
}

.text-secondary {
  color: $default;
}

.text-secondary-1 {
  color: lighten(saturate(adjust_hue($secondary-2, -18.993109927967396), 41.83527253969167%), 18.235294117647058%);;
}

.text-secondary-2 {
  color: $secondary-2;
}

.text-secondary-3 {
  color: $secondary-3;
}

.text-secondary-4 {
  color: darken(saturate(adjust_hue($secondary-2, -17.417150295601203), 45.081105591854396%), 13.333333333333336%);
}

/*
*  @subsection   Backgrounds
*/
.bg-default {
  background: lighten(saturate(adjust_hue($default, 0), 0%), 17.254901960784313%);
  color: $contrast;
}

.bg-contrast {
  background: $contrast;
  color: $default;
}

.bg-primary {
  background: $primary;
  color: $contrast;
}

.bg-secondary {
  background: $secondary-1;
}

.bg-img-1 {
  background-image: url(../images/bg-img-1.jpg);
  background-repeat: repeat-x;
}

/*
*  @subsection   Buttons
*/

.btn {
  position: relative;
  &:before,&:after {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    content: '';
    z-index: -1;
  }
  font-weight: 700;
  position: relative;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 1px;

  &-primary {

    color: $contrast;
    &::before{
      background: url("../images/btn.png");
    }

    &::after{
      background: url("../images/btn-hover.png");
      opacity: 0;
    }

    &:hover {
      color: $default;
      &::after{
        opacity: 1;
      }


    }
    &:active {
      color: $default;

    }

  }

  &-secondary {
    color: $contrast;
    border: 3px solid $contrast;

    &:hover {
      @include transition(.3s);
      border: 3px solid $contrast;
      background: #ffb74d;

    }
    &:active {
      color: $default;
    }
  }

  &-md {
    padding: 25px 47px;
    font-size: 16px;
  }
}

/*
*  @subsection   Icons
*/
.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-linkedin {

}

.icon {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;

  &-md {
    font-size: 24px;
    line-height: 24px;

  }
  &-primary {
    color: lighten(saturate(adjust_hue($secondary, 12.082162921348313), 0%), 9.803921568627459%);
  }

}


/*
*  @subsection  Box-date
*/

.box-date {
  font-family: inherit;
  font-weight: 700;
  height: 60px;
  width: 60px;
  background: $secondary;
  font-size: 36px;
  text-align: center;
  position: absolute;
  top: 1px;
  z-index: 5;

  @media (min-width: $screen-md-min) {
    padding-top: 17px;
    width: 100px;
    height: 100px;
    font-size: 46px;
  }
  small {
    font-size: 9px;
    font-weight: inherit;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    @media (min-width: $screen-md-min) {
      font-size: 10px;
    }
  }
  &-position-2 {
    left: 1px;
  }
  &-position-1 {
    right: 1px;
  }
}

/*
*  @subsection  Inline-list
*/
.inline-list {
  li + li{
    margin-left: 17px;
  }

}

.inline-list > li {
  display: inline-block;
  &:hover {
    opacity: 0.7;
  }
}

.inline-list-1 {

  li + li {
    margin-top: 10px;
    @media (min-width: $screen-lg-min) {
      margin-top: 0;
    }
  }
  li {
    @media (min-width: $screen-lg-min) {
      display: inline-block;
    }
    text-align: left;
  }
}

/*
*  @subsection  Brand
*/
.brand {
  position: relative;

  &_name {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;

    &::before, &::after {
      position: absolute;
      content: '';
      width: 275px;
    }
    &::before {
      border-top: 2px solid $contrast;
      top: -2px;
    }

    &::before {
      border-bottom: 2px solid $contrast;
      bottom: -5px;
    }
  }

}

/*
*  @subsection  Event-post
*/

article {

  .content {
    color: lighten(saturate(adjust_hue($default, 0), 0%), 43.92156862745098%);
    font-family: "Raleway";
    font-size: 16px;
    padding-right: 20px;
    line-height: 1.4;
  }

}

.event-post {
  color: $contrast;
  position: relative;
  display: inline-block;

  @media (min-width: $screen-md-min) {
    display: block;
  }
  @media (min-width: $screen-md-min) {
    padding-bottom: 100%;
  }

  @media (min-width: $screen-md-min) {
    &--double {
      padding-bottom: 50%;
    }
  }

  &:hover {
    .img-wrap:after {
      opacity: 1;

    }
  }

  img {
    left: 0;
    top: 0;
    right: 0;
  }

  .img-wrap {
    @media (min-width: $screen-md-min) {
      position: absolute;
    }
    left: 0;
    top: 0;
    right: 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #fff;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 114, 77, .69);
      opacity: 0;

      @include transition(.3s);
    }
    &--skin {
      img {
        width: 100%;
        height: 200px;
        @media (min-width: $screen-sm-min) {
          height: auto;
        }
      }
    }
  }

  a {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @media (min-width: $screen-md-min) {
      position: absolute;
    }
  }

  br {
    display: none;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }

}

/*
*  @subsection  img-meta
*/

.img-meta {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  @media (min-width: $screen-md-min) {
    padding: 28px;
  }
  &--skin {
    h5 {
      padding: 54px 10px 0px;
      @media (min-width: $screen-sm-min) {
        padding: 40px 0px 0px;
      }
      @media (min-width: $screen-lg-min) {
        padding: 6px 0 0 0;
      }
    }
  }
}

/*
*  @section   HEADER
*/
header {
  position: relative;

}

/*
*  @section   CONTENT
*/

main {
  display: block;
}

/*
*  @subsection  Well
*/

.well {
  padding-top: 30px;
  padding-bottom: 25px;
  @media (min-width: 992px) {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  &-md {
    padding-top: 36px;
    padding-bottom: 75px;
    @media (min-width: $screen-md-min) {
      padding-bottom: 156px;
    }
  }
  &-lg {
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-lg-min) {
      padding-top: 192px;
      padding-bottom: 192px;
    }
  }
  &-xl {
    padding-top: 100px;
    padding-bottom: 95px;
    @media (min-width: $screen-md-min) {
      padding-top: 231px;
    }
  }

}

/*
*  @section    FOOTER
*/
footer {

  .copyright {
    line-height: 1.4;
    font-size: 12px;
    color: lighten(saturate(adjust_hue($default, 0), 0%), 63.13725490196078%);

    @media (min-width: $screen-md-min) {
      float: left;
      display: inline-block;
    }

    a:hover {
      color: $secondary;
      white-space: nowrap;
    }
  }
  .inline-list {
    @media (min-width: $screen-md-min) {
      float: right;
    }
  }

  .brand {
    @media (min-width: $screen-md-min) {
      display: inline-block;
    }

    &_name {
      &::before {
        border-top: 2px solid $default;
        top: -2px;
      }

      &::before {
        border-bottom: 2px solid $default;
        bottom: -5px;
      }
    }

  }
}

//table Responsive
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
//Responsive
@media screen and (max-width: 900px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
