<template lang="html">
  <!-- multistep form -->
<div id="step-list" class="init-top">
  <!-- progressbar -->
  <ul id="progressbar">
    <li v-if="step ==1 || step==2 || step==3" :class="['active']" ></li>
    <li v-else ></li>
    <li v-if="step ==2 || step==3" :class="['active']"></li>
    <li v-else ></li>
    <li v-if="step ==3" :class="['active']"></li>
    <li v-else ></li>
  </ul>
</div>
</template>

<script>

export default {
  props: ['step']
}
</script>

<style lang="scss">
$activeColor: #ffb74d;
$inactiveColor: LightGrey;

$separationMargin: 7em;
$bubbleRadius: 1em;
$lineWidth: 2em;
$lineLength: $separationMargin * 2.0;
$bubbleHeight: $bubbleRadius * 2.0;


/*form styles*/
#step-list {
	margin: 50px auto;
	text-align: center;
	position: relative;
}

/*progressbar*/
#progressbar {
  height: 100px;
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
  color: white;
  li {
    list-style-type: none;
    color: $activeColor;
    text-transform: uppercase;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
  }
  /* Circles */
  li:before {
    content: counter(step);
    counter-increment: step;
    width: $lineWidth;
    line-height: $lineWidth;
    display: block;
    font-size: 16px;
    color: $inactiveColor;
    background: white;
    border: 2px solid $inactiveColor;
    border-radius: 25px;
    top: 60px;
    position: relative;
    margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  li:after {
    top: 76px;
    position: relative;
    content: '';
    width: 100%;
    height: 2px;
    background: $inactiveColor;
    position: absolute;
    left: -50%;
    z-index: -1; /*put it behind the numbers*/
  }
  /*connector not needed before the first step*/
  li:first-child:after {
    content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it   green*/
  li.active:before,  #progressbar li.active:after{
    background: $activeColor;
    border: none;
    color: white;
  }
}
</style>
