<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12" v-if="status==1">
        <div class="detail">
          <p>Los tickets han sido enviados a los correos de los asistentes. Tambien
            puedes descargarlos desde el detalle a conitnuación. </p>
        </div>
        <table class="table">
          <thead>
            <th scope="col">Evento</th>
            <th scope="col">Nº Tickets</th>
            <th scope="col">Total Pagado</th>
            <th scope="col">Desacargar Ticket</th>
          </thead>
          <tbody>
            <tr>
              <td data-label="Evento">{{event.title}}</td>
              <td data-label="Nº Tickets">{{tickets.length}}</td>
              <td data-label="Total Pagado">{{invoice.total_price}}</td>
              <td>
                <span v-for="t in tickets" >
                  <a download target="_self" :href="base_url+'/storage/pdf/'+t.pdf" >{{ t.pdf }}</a><br>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 col-md-12" v-else >
        <div class="alert bg-color-red">
           <strong>Lo sentimos !</strong> Transbank no pudo procesar tu pago. Favor
           intente nuevamente.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['event',
          'invoice',
          'user',
          'tickets',
          'status',
          'base_url']
}
</script>

<style lang="scss">
/* The alert message box */
.alert {
  padding: 20px;
  color: white;
  margin-bottom: 18px;
}

//Colors bg
.bg-color-red{
  background-color: #f44336; /* Red */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
</style>
