<template lang="html">
  <div class="container">
    <div class="row">
        <div  :class="css_class.container">
          <form action="/buyData" method="post"  id="form-data">
          <div class="form-wrapper bg-primary">
            <div class="rd-mailform">
              <div class="row">
                <div :class="css_class.columns" v-for="(f, index) in forms">
                  <h3 class="text-center">
                    {{index+1}}- Ticket {{ f.name }}
                  </h3>

                  <fieldset class="buy-fieldset">
                      <label>
                        <input required type="text" :name="'formdata['+index+'][name]'" placeholder="Nombre" />
                      </label>
                      <label>
                        <input required type="text" :name="'formdata['+index+'][rut]'" placeholder="Rut" />
                      </label>
                      <label>
                        <input required type="text" :name="'formdata['+index+'][email]'" placeholder="asistente@email.cl"/>
                      </label>
                      <label @click.prevent="">
                        <!-- date -->
                        <datePicker :typeable="true"
                                    :required="true"
                                    :format="formatDate"
                                    :language="es"
                                    :name="'formdata['+index+'][bday]'"
                                     placeholder="Fecha de Nacimiento" >
                        </datePicker>

                        <span>{{ errors.first('email') }}</span>
                         <!-- date field
                        <input  required type="date"
                               :name="'formdata['+index+'][bday]'"
                               placeholder="Fecha de Nacimiento" />-->
                      </label>
                      <label>
                         <!-- gender field -->
                        <select required style="border-radius: 0 !important;
                                                border: none !important;"
                                               :name="'formdata['+index+'][gender]'">
                          <option value="1"> Masculino</option>
                          <option value="2"> Femenino </option>
                        </select>
                      </label>
                      <!-- Extra Fields -->
                      <label v-for="extra in f.extra">
                        <input required type="text" :name="'formdata['+index+'][extra]['+extra+']'" :placeholder="extra"/>
                      </label>
                  </fieldset>

                  <input type="hidden" :name="'formdata['+index+'][id]'" :value="f.id">
                 </div>

                </div>
                <input type="hidden" :value="event_id" name="event_id">
                <input type="hidden" :value="csrf_token" name="_token">
              </div>
            </div>
            <button class="btn-purchase secondary float-right">Realizar Compra</button>
            </form>
        </div>
    </div>
  </div>
</template>

<script>
//Import datepicker
import {es} from 'vuejs-datepicker/dist/locale'
import DatePicker from 'vuejs-datepicker'
import moment from 'moment'

export default {
  components: {
   DatePicker
  },
  props: ['event_id','forms','user','csrf_token','css_class'],
  data(){
    return {
      length_array:0,
      es: es
    }
  },
  methods: {
    formatDate(date){
       return moment(date).format("YYYY-MM-DD");
    },
    validDate: function (date) {
      return date.replace("/^\d{4}\-\d{1,2}\-\d{1,2}$/");
    },
    checkEmail(email_){
      if (!this.validEmail(email_)){
        alert("Ingrese un email válido.")
        return false;
      }
    }
  }
}
</script>

<style lang="scss">
.buy-fieldset{
  margin-top: 20px;
  margin-bottom: 20px;
}
.buy-fieldset label{
  width: 100% !important;
}

.rd-mailform label + label {
  margin-left: 0 !important;
  margin-top: 10px;
}

.btn-purchase{
  color: white;
  padding: 27px;
  font-size: 14px;
}
.btn-purchase:hover {
  opacity: 0.7;
  color: white;
}
.float-right{
  float: right !important;
}

//colors
.secondary {background-color: #ffb74d;} /* yellow */
.primary {background-color: #ff8a65;} /* zandia */

//Date picker style
.vdp-datepicker__calendar{
  color: #101010;
}
.vdp-datepicker__calendar .cell.selected {
   background-color: #ffb74d !important;
   color:white !important;
}
</style>
