<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h3 class="text-default border col-md-offset-3">
          {{ event.title }}
        </h3>
        <div v-if="event.status==0" class="label secondary init-top"
             style="padding-left:20px; font-size:14px;">
             No hay tickets disponibles para este evento.
        </div>

        <form v-on:submit="submitForm" v-else action="/buyForms" method="post" id="buy-form">

          <!-- discount box -->
          <div class="float-right" v-if="this.discount==null">
            <input style="border:solid 1px #ddd; min-height:37px; padding-left:5px; width:auto;"
                   placeholder="Código de Descuento"
                   type="text"
                   v-model="code" />
            <a href="#" @click="validateCode()" class="btn secondary border-radius-12">
              Validar&nbsp;<i class="fa fa-check"></i>
            </a>
          </div>

           <table class="table init-top">
            <thead>
              <tr>
                <th scope="col">Ticket</th>
                <th scope="col">Detalles</th>
                <th scope="col">Accesorios</th>
                <th scope="col">Valor</th>
                <th scope="col"> Cantidad </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(t, index) in tickets">

                <td data-label="Ticket">{{t.name}}</td>
                <td data-label="Detalles">
                  <span class="label primary" v-if="t.min_age || t.max_age">
                    Edad: <span v-if="t.min_age">{{t.min_age}}</span>
                                <span v-if="t.min_age || t.max_age"> - </span>
                                <span v-if="t.max_age">{{t.max_age}}</span>
                  </span><br>
                  <span class="label primary" v-if="t.expiration">Fecha de expiración: {{t.expiration}}</span>
                  <span class="label primary" v-if="t.distance">Distancia: {{t.distance}}</span>
                </td>
                <td data-label="Accesorios">
                   <span class="label secondary" v-for="p in t.props" >
                    {{ p.name}}
                   </span>
                </td>
                <td data-label="Valor">${{ t.price }} clp</td>
                <td data-label="Cantidad">
                  <input @blur="updateTotal()" :name="'quantities['+t.id+']'" :id="'input_'+index" min="0" v-model="quantity[index]" @click='updateTotal(index)' type="number"  class="number" style="display:none" >
                  <a :id="'btn_'+index" class="btn secondary border-radius-12" v-on:click='updateQ(index)' >Añadir +</a>
                </td>
              </tr>
              <!-- service tag -->
              <tr>
                <td datal-label="Ticket">Servicio</td>
                <td data-label="Detalles"> <span class="label primary">Costo por Servicio</span></td>
                <td datal-label="Accesorios"> {{ this.event.service_value }}% </td>
                <td data-label="Valor"> ${{ this.service_price }} clp</td>
                <td data-label="Cantidad"> 1 </td>
              </tr>
              <tr v-if="discount">
                <td datal-label="Ticket">Código Descuento</td>
                <td data-label="Detalles"> <span class="label primary">Descuento</span></td>
                <td datal-label="Accesorios"> {{ this.discount }}%  </td>
                <td data-label="Valor"> -${{ this.discount_price }} </td>
                <td data-label="Cantidad"> 1 </td>
              </tr>
            </tbody>
          </table>
          <input type="hidden" name="total_price" v-model="this.total_price" ref="total_price"  >
          <input type="hidden" name="_token"   v-model="this.csrf_token">
          <input type="hidden" name="event_id" v-model="this.event.id">
          <input type="hidden" name="discount" v-model="this.discount" ref="discount" >
          <button type="submit" class="btn-total secondary float-right"> Siguiente </button>
        </form>
        <span v-if="event.status!=0" class="label-total primary float-right">
          Total : <strong> ${{ this.total_price }}</strong>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tickets', 'csrf_token','event','validate_code_url'],
  data(){
    return{
      total_price: null,
      service_price:null,
      discount_price: null,
      quantity:[],
      discount:null,
      added:null,
      code:null
      }
    },
    methods: {
      setQuantityList(n=0){
        Object.entries(this.tickets).forEach(([key, val]) => {
          this.quantity.push(n)
        });
      },
      updateTotal(index){
        let total = []
        Object.entries(this.tickets).forEach(([key, val]) => {
            total.push(val.price * this.quantity[key]) // the value of the current key.
        });
        this.total_price = total.reduce(
                          function(total, num){
                            return total+num;
                          })
        this.service_price = (this.total_price/100) * this.event.service_value
        this.total_price = this.total_price + this.service_price

        //Add Discount
        if(this.discount!=null){
          this.discount_price = (this.total_price/100) * this.discount
          this.total_price = this.total_price - ((this.total_price/100) * this.discount)
        }

        //Hide element if 0
        if(this.quantity[index] == '0' || this.quantity[index]==0){
          //hide or show
          (function($){
            $('#input_'+index).hide()
            $('#btn_'+index).show()
          }(jQuery))
        } else {

          (function($){
            $('#input_'+index).show()
            $('#btn_'+index).hide()
          }(jQuery))
        }
        //this.$forceUpdate()
      },
      updateQ(i){
        this.quantity[i] = 1
        this.updateTotal(i)
        this.$forceUpdate()
      },

      validateCode(){
        const vm = this
        Vue.axios.post(this.validate_code_url,
        {
          event_id: vm.event.id,
          code: vm.code,
          csrf_token: vm.csrf_token

        }).then(function(response) {
          if(response.data.result==1){
            vm.discount= response.data.discount
            vm.updateTotal()

            //Success toast
            let toast = vm.$toasted.show("Su código es válidado", {
            type: "success",
            position: "top-right",
            duration : 5000,
            icon : 'check'
            });

          } else {
            //Error toast
            let toast = vm.$toasted.show(response.data, {
            type: "error",
            position: "top-right",
            duration : 5000,
            });
          }

        }).catch(function(error){
          console.log(error);
        });
      },
      submitForm(event){
        if(this.total_price == this.service_value ||
           this.total_price < this.service_value){
               alert("Debes Agergar un ticket!")
               event.preventDefault()
           }
        this.$refs.total_price.value = this.total_price
        this.$refs.discount = this.discount
      }

    },
    created() {
      //do something after creating vue instance
      this.setQuantityList()

    }
}
</script>

<style lang="scss">
//table Responsive
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
//Responsive
@media screen and (max-width: 900px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


//buttons
.btn {
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

}

.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  opacity: 0.7;
  color: white;
}

.btn-total{
  color: white;
  padding: 27px;
  font-size: 14px;
}
.btn-total:hover {
  opacity: 0.7;
  color: white;
}

//Labels
.label {
  color: white;
  padding: 5px;
  font-size: 10px;
}
.label-total {
  color: white;
  padding: 12px 28px;
  font-size: 14px;
}

//Floats
.float-right{
  float: right !important;
}

.float-left{
  float: left !important;
}

//radius
.border-radius-12{
  border-radius: 12px;
}
//colors
.secondary {background-color: #ffb74d;} /* yellow */
.primary {background-color: #ff8a65;} /* zandia */

//input
input[type=number]::-webkit-inner-spin-button {
   opacity: 1;
}

.number{
  text-align: center;
  width: 4em !important;
  background-color: #fff !important;
  height: 3em !important;
}



</style>
