.decode-result{
  font-size: 19px;
  color: #97a1aa;
  font-weight: 900;
  text-align: left;
  width: 52%;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 20px;
}

.accesorios{
  margin-bottom: 30px;
  width: 52%;
  margin: auto;
  padding-bottom: 30px;
}

.acc{
  font-size: 16px;
  font-weight: 900;
}

.valida{
  text-align: left;
  width: 100%;
  color: #19a85f;
  margin: auto;
  font-weight: 700;
  padding: 0px;
  margin-top: 15px;
}

.valida li {
    list-style-type: none;
}



.opciones {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  padding: 19px 40px;
  width: 90%;
  background: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  cursor: pointer;
      margin-bottom: 10px;
}

.opciones:hover {
  /* background: #3ea868;
  color: white; */
}

.opciones .espane{
  font-size: 20px;
font-weight: 700;
}

.activee {
  background: #3ea868;
  color: #f0f0f0;
  animation: btn-color 0.5s ease-in-out;
}


.checkmark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 8px;
  display: block;
  stroke-width: 4;
  fill: #f0f0f0;
  stroke-miterlimit: 10;
  animation: scale 0.5s ease-in-out;
}

@keyframes scale {
  0% {
    transform: none;
  }
  50% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: none;
  }
}

@keyframes btn-color {
  0% {
    background: #88d3a6;
  }
  50% {
    background: #5dc386;
  }
  100% {
    background: #3ea868;
  }
}


@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .decode-result{
      font-size: 16px;
      color: #97a1aa;
      font-weight: 900;
      text-align: left;
      width: 100%;
      margin: auto;
      padding-bottom: 15px;
      padding-top: 20px;
    }





.opciones:hover
  {
    /*your code goes here*/
  }

    .accesorios {
    margin-bottom: 30px;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

}
