<template lang="html">
  <main>
      <!-- Section-1 -->
      <section class="bg-contrast well-md" id="panel-events">
          <div class="container">

              <h3 class="text-default col-md-offset-2 border">Proximos Eventos</h3>

              <div class="row row-gutter-xs" >
                  <!-- Event 1-->
                  <div class="col-lg-6 col-md-6 col-sm-12 bg1">
                      <article class="event-post  event-post--double">
                          <a :href="'/event/'+events[0].slug">
                          <div class="img-wrap img-wrap--skin">
                              <img :src="'/storage/'+events[0].img_horizontal_panel" alt="">
                          </div>
                          <div class="box-date box-date-position-1">{{ events[0].start_date | moment("D&nbsp;") }}
                              <small>{{ events[0].start_date | moment("MMMM") }}</small>
                          </div>
                          <div class="img-meta img-meta--skin">
                              <h5>{{ events[0].title }}</h5>

                              <div class="box-meta offset-3">
                                  <div class="time">
                                      <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                      <time>{{ events[0].start_date | moment("MMMM Do YYYY") }}</time>
                                  </div>
                                  <br>

                                  <div class="meta-wrapper">
                                      <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                      <span class="meta">{{ events[0].place }}</span>
                                  </div>
                              </div>
                          </div>
                          </a>
                      </article>
                  </div>

                  <!-- Event 2-->
                  <div class="col-lg-3 col-md-3 col-sm-12 bg2">
                      <article class="event-post">
                          <a :href="'/event/'+events[1].slug">

                          <div class="img-wrap">
                              <img :src="'/storage/'+events[1].img_vertical_panel" alt="">
                          </div>

                          <div class="box-date box-date-position-2">{{ events[1].start_date | moment("D") }}
                              <small>{{ events[1].start_date | moment("MMMM") }}</small>
                          </div>
                          <div class="img-meta">
                              <h5 class="offset-5">{{ events[1].title }}</h5>

                              <div class="box-meta">
                                  <div class="time">
                                      <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                      <time >{{ events[1].start_date | moment("MMMM Do YYYY") }}</time>
                                  </div>
                                  <br>

                                  <div class="meta-wrapper">
                                      <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                      <span class="meta">{{ events[1].place }}</span>
                                  </div>
                              </div>
                          </div>
                          </a>
                      </article>
                  </div>
                  <!-- Event 3 -->
                  <div class="col-lg-3 col-md-3 col-sm-12  bg3">
                      <article class="event-post">
                          <a :href="'/event/'+events[2].slug">
                          <div class="img-wrap">
                              <img :src="'/storage/'+events[2].img_square_panel" alt="">
                          </div>

                          <div class="img-meta">
                              <h5 class="offset-4">{{ events[2].title }}</h5>

                              <div class="time">
                                  <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                  <time >{{ events[2].start_date | moment("MMMM Do YYYY") }}</time>
                              </div>
                              <div class="meta-wrapper">
                                  <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                  <span class="meta">{{ events[2].place }}</span>
                              </div>
                          </div>
                          </a>
                      </article>
                  </div>
                  <!-- Event 4 -->
                  <div class="col-lg-3 col-md-3 col-sm-12  bg4 col-lg-clear">
                      <article class="event-post">
                          <a :href="'/event/'+events[3].slug">
                          <div class="img-wrap">
                              <img :src="'/storage/'+events[3].img_vertical_panel" alt="">
                          </div>

                          <div class="box-date box-date-position-2">{{ events[2].start_date | moment("D") }}
                              <small>{{ events[3].start_date | moment("MMMM") }}</small>
                          </div>
                          <div class="img-meta">
                              <h5 class="offset-5 inset-3">{{ events[3].title }}</h5>

                              <div class="box-meta">
                                  <div class="time">
                                    <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                    <time >{{ events[3].start_date | moment("MMMM Do YYYY") }}</time>
                                  </div>
                                  <br>

                                  <div class="meta-wrapper">
                                      <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                      <span class="meta">{{ events[3].place }}</span>
                                  </div>
                              </div>
                          </div>
                          </a>
                      </article>
                  </div>
                  <!-- Event 5 -->
                  <div class="col-lg-3 col-md-3 col-sm-12 bg5">
                      <article class="event-post">
                          <a :href="'/event/'+events[4].slug">
                          <div class="img-wrap">
                              <img :src="'/storage/'+events[4].img_square_panel" alt="">
                          </div>

                          <div class="img-meta">
                              <h5 class="offset-4">{{ events[4].title }}</h5>

                              <div class="time">
                                  <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                  <time >{{ events[4].start_date | moment("MMMM Do YYYY") }}</time>
                              </div>
                              <div class="meta-wrapper">

                                  <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                  <span class="meta">{{ events[4].place }}</span>
                              </div>
                          </div>
                          </a>
                      </article>
                  </div>
                  <!-- Event 6-->
                  <div class="col-lg-3 col-md-3 col-sm-12 bg6 col-lg-offset-3 col-md-offset-3  ">
                      <article class="event-post">
                          <a :href="'/event/'+events[6].slug">
                            <div class="img-wrap">
                                <img :src="'/storage/'+events[6].img_vertical_panel" alt="">
                            </div>

                            <div class="box-date box-date-position-2">{{ events[6].start_date | moment("D") }}
                                <small>{{ events[6].start_date | moment("MMMM") }}</small>
                            </div>
                            <div class="img-meta">
                                <h5 class="offset-5 inset-3">{{ events[6].title }}</h5>

                                <div class="box-meta">
                                    <div class="time">
                                      <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                      <time >{{ events[6].start_date | moment("MMMM Do YYYY") }}</time>
                                    </div>
                                    <br>

                                    <div class="meta-wrapper">
                                        <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                        <span class="meta">{{ events[6].place }}</span>
                                    </div>
                                </div>
                            </div>
                          </a>
                      </article>
                  </div>
                  <!-- Event 7-->
                  <div class="col-lg-6 col-md-6 col-sm-12  bg7 col-lg-offset-3 col-md-offset-3 col-lg-clear">
                      <article class="event-post event-post--double">
                          <a :href="'/event/'+events[5].slug">
                            <div class="img-wrap img-wrap--skin">
                                <img :src="'/storage/'+events[5].img_horizontal_panel" alt="">
                            </div>
                            <div class="box-date box-date-position-1">{{ events[5].start_date | moment("D&nbsp;") }}
                                <small>{{ events[5].start_date | moment("MMMM") }}</small>
                            </div>
                            <div class="img-meta img-meta--skin">
                                <h5>{{ events[5].title }}</h5>

                                <div class="box-meta offset-3">
                                    <div class="time">
                                        <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                        <time>{{ events[5].start_date | moment("MMMM Do YYYY") }}</time>
                                    </div>
                                    <br>

                                    <div class="meta-wrapper">
                                        <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                        <span class="meta">{{ events[5].place }}</span>
                                    </div>
                                </div>
                            </div>
                          </a>
                      </article>
                  </div>
              </div>
          </div>
      </section>
      <!-- END Section-1 -->

      <!-- Section-2 -->
      <section class="bg-secondary well-lg">
          <div class="container">
              <div class="row">
                  <div class="col-md-offset-1 col-md-10">
                      <div class="form-wrapper bg-primary offset-1">
                          <h3 class="text-center inset-2">Contacto</h3>

                          <!-- RD Mailform -->
                          <div class='rd-mailform' id="contact-form">
                              <!-- END RD Mailform Type -->
                              <fieldset>
                                  <label >
                                      <input v-model="name"
                                             type="text"
                                             name="name"
                                             placeholder="Nombre"
                                            >
                                  </label>

                                  <label >
                                      <input v-model="phone"
                                             type="text"
                                             name="phone"
                                             placeholder="Teléfono"
                                             >
                                  </label>

                                  <label >
                                      <input v-model="email"
                                             type="text"
                                             name="email"
                                             placeholder="Email"
                                             >
                                  </label>


                                  <label class="textarea">
                                    <textarea v-model="message"
                                              name="message"
                                              placeholder="Mensaje"
                                              >
                                            </textarea>
                                  </label>

                                  <div class="mfControls">
                                      <button @click="submitContact()" class="btn btn-md btn-secondary uppercase" type="submit">Enviar</button>
                                  </div>

                              </fieldset>
                          </div>
                          <!-- END RD Mailform -->

                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END Section-2-->
  </main>

</template>

<script>
export default {
  props: ['events','contact_url','csrf_token'],
  data(){
    return{
      name:'',
      email:'',
      phone:'',
      message:''
     }
  },
  methods: {
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    submitContact() {

      if(this.name==''){
        let toast = this.$toasted.show("Ingrese su nombre !", {
        position: "top-center",
        duration : 5000,
        });
        return false;
      }
      if(this.phone==''){
        let toast = this.$toasted.show("Ingrese un teléfono de contacto !", {
        position: "top-center",
        duration : 5000,
        });
        return false;
      }
      if(this.email==''){
        let toast = this.$toasted.show("Ingrese su Email !", {
        position: "top-center",
        duration : 5000,
        });
        return false;
      }
      if (!this.validEmail(this.email)){
        let toast = this.$toasted.show("Ingrese un Email válido !", {
        position: "top-center",
        duration : 5000,
        });
        return false;
      }
      if(this.message==''){
        let toast = this.$toasted.show("Ingrese un Mensaje!", {
        position: "top-center",
        duration : 5000,
        });
      }

      //do Post
      const vm = this
      console.log(this.contact_url)
      Vue.axios.post(this.contact_url,
      {
        name: vm.name,
        email: vm.email,
        phone: vm.phone,
        message: vm.message,
        csrf_token:this.csrf_token

      }).then(function(response) {
        if(response.data==1){
          vm.name = vm.email = vm.phone = vm.message = ""
          let toast = vm.$toasted.show("Su Mensaje Ha sido enviado !", {
          type: "success",
          position: "top-center",
          duration : 5000,
          icon : 'check'
          });

        } else {
          let toast = vm.$toasted.show("Hubo un error al enviar su mensaje!", {
          type: "error",
          position: "top-center",
          duration : 5000,
          });
          console.log(response.data);
        }
      }).catch(function(error){
        let toast = vm.$toasted.show("Hubo un error al enviar su mensaje!", {
        type: "error",
        position: "top-center",
        duration : 5000,
        });
        console.log(error);
      });
    }
  }
}
</script>

<style lang="scss">
//Labels
.label {
  color: white;
  padding: 5px;
  font-size: 10px;
}
 small{
  vertical-align: text-top !important;
}
//colors
.secondary {background-color: #ffb74d;} /* yellow */
.primary {background-color: #ff8a65;} /* zandia */

#panel-featured{
  display: none;
}

@media (max-width: 768px) {
  #panel-events{
    display: none;
  }
  #panel-featured{
    display: block;
  }
}

</style>
