<template lang="html">
  <!--========================================================
                            FOOTER
  =========================================================-->
  <footer class="footer well-xl">
      <div class="container">
          <div class="row">
              <div class="col-md-offset-1 col-md-10 text-center">
                  <div class="copyright offset-7">
                      Deporticket &copy; <span id="copyright-year"></span><br> Todos los derechos reservados.

                  </div>

                  <!-- Brand -->
                  <div class="brand prefix-2">
                      <a href="/">
                          <h1 class="brand_name text-default uppercase">Deporticket</h1>
                          <div class="row" style="margin-top:20px">
                            <img src="/images/logo-transbank.png" width="280px"/>
                          </div>
                      </a>
                  </div>
                  <!-- END Brand -->

                  <ul class="inline-list">
                      <li><a class="icon icon-md fa-facebook text-secondary-2" href="#"></a></li>
                      <li><a class="icon icon-md fa-pinterest-p text-secondary-3" href="#"></a></li>
                      <li><a class="icon icon-md fa-twitter text-secondary-1" href="#"></a></li>
                      <li><a class="icon icon-md fa-google-plus text-secondary-3" href="#"></a></li>
                      <li><a class="icon icon-md fa-instagram text-secondary-4" href="#"></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
