<template>
  <div>
    <gmap-map
      :center="center"
      :zoom="19"
      style="width:100%;  height: 400px;"
    >
    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
      {{infoContent}}
    </gmap-info-window>
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        @click="toggleInfoWindow(m,i)"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
export default {

  props: ['lat','lng','address'],

  name: "GoogleMap",
  data() {
    return {
      // change this to whatever makes sense
      center: { lat: this.lng, lng: this.lat },
      infoContent: '',
       infoWindowPos: null,
       infoWinOpen: false,
       currentMidx: null,
       //optional: offset infowindow so it visually sits nicely on top of our marker
       infoOptions: {
         pixelOffset: {
           width: 0,
           height: -35
         }
       },
      markers: [{
            position: {
              lat: this.lng,
              lng: this.lat
            },
            infoText: this.address
          }],
      places: [],
      currentPlace: null
    };
  },

  mounted() {

  },

  methods: {

    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoContent = marker.infoText;

      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;

      }
    },


    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    // addMarker() {
    //   if (this.currentPlace) {
    //     const marker = {
    //       lat: this.currentPlace.geometry.location.lat(),
    //       lng: this.currentPlace.geometry.location.lng()
    //     };
    //     this.markers.push({ position: marker });
    //     this.places.push(this.currentPlace);
    //     this.center = marker;
    //     this.currentPlace = null;
    //   }
    // },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  },
  created() {
    //do something after creating vue instance
    console.log(this.lng);
  }
};
</script>
