<template lang="html">
      <header class="bg-img-1 top-init-page">
          <!-- Brand -->
          <div class="container well">

              <!-- Owl-carousel -->
                  <div class="owl-carousel">
                      <div class="item" v-for="e in featured">
                        <div class="row">
                              <article>
                                  <div class="col-md-6">
                                      <a :href="'/event/'+e.slug">
                                        <img :src="'/storage/'+e.img_vertical" alt="">
                                      </a>
                                  </div>
                                  <div class="col-md-offset-1 col-md-5 offset-8 box-event">
                                      <h3 class="text-contrast-md text-primary offset-2">
                                        {{ e.title }}
                                      </h3>

                                      <div class="box-meta box-meta-md text-contrast-md text-primary box-meta-offset-2">
                                        <p>
                                          <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                                          <time>{{ e.start_date | moment("MMMM Do YYYY") }}</time>
                                        </p>
                                        <p>
                                          <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                                          <span class="meta inset-1 text-left">&nbsp;{{ e.place }}</span>
                                        </p>
                                      </div>

                                      <a v-if="user != null" :href="'/buy/'+e.slug" class="btn btn-primary btn-md" >&nbsp;&nbsp; TICKETS &nbsp;&nbsp;</a>
                                      <a v-else :href="login_url" class="btn btn-primary btn-md" >&nbsp;&nbsp; TICKETS &nbsp;&nbsp;</a>

                                      <div class="content">
                                          <p>{{ e.description }}</p>
                                      </div>
                                  </div>
                              </article>
                          </div>
                      </div>
                      <!--end item -->
                  </div>
                 <!-- end Owl-carousel -->
          </div>

      </header>

</template>

<script>
import 'owl.carousel'

export default {
  props: ['featured', 'user','login_url'],

  data() {
    return {
      token: window.Laravel,
      pathHome: window.Ruta,
    }
  },

  mounted() {
    (function($){

      if($('.owl-carousel').length > 0){
        Vue.nextTick(function(){
          $(".owl-carousel").owlCarousel({
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            autoplay: true,
            autoplayHoverPause:true,
            margin: 30,
            smartSpeed: 450,
            loop: true,
            dots: false,
            dotsEach: 1,
            nav: false,
            touchDrag: true,
            mouseDrag: true,
            navClass: ['owl-prev fl fl-bigmug-line-login9', 'owl-next fl fl-bigmug-line-login12'],
            responsive: {
                0: {items: 1},
                768: {items: 1},
                980: {items: 1}
            }
          })
        })
      }
    }( jQuery ));

  }//End mounted
}
</script>

<style lang="scss">
.top-init-page{
  margin-top:50px
}
.box-event{
  margin-top: 100px;
}
.content{
  margin-top: 230px !important;
}
//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 767px) {
  .content{
    margin-top: 60px !important;
  }
  .box-event{
    margin-top: 200px !important;
  }
}
</style>
