<template lang="html">
  <div name="root-element">
    <!-- Desktop Menu-->
    <div class="header-area fixed-box" >
      <div class="container-fluid">
        <div class="row">
            <nav  class="sf-menu">
              <ul>
                <li style="float:left">
                  <a  href="/" class="brand">
                    <h1 class="uppercase left-logo">dticket</h1>
                  </a>
                </li>

                <li style="display:none" class="toggleIcon">
                  <a href="javascript:void(0)" class="toggleMenu" >
                    <i class="fl-bigmug-line-men25"></i>
                  </a>
                </li>

                <li>
                  <a href="javascript:void(0)" @click="search()">
                    <i class="fl-bigmug-line-search74"></i>
                  </a>
                </li>
                <li class="not-movil">
                  <a v-if="user == null" :href="login_url">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Iniciar Sesión
                  </a>
                  <a v-else :href="account_url">
                   <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Mi Cuenta
                  </a>
                </li>

              </ul>
            </nav>
        </div>
      </div>
    </div>

    <!-- menu movil -->
    <div class="movil-menu">
      <div class="individual">
        <a href="/">
          <span>
            <i class="fa fa-home"></i> Home
          </span>
        </a>
      </div>
      <div class="individual">
        <span>
          <a v-if="user == null" :href="login_url">
            <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Iniciar Sesión
          </a>
          <a v-else :href="account_url">
           <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Mi Cuenta
          </a>
        </span>
      </div>
      <!--
      <div class="individual">
        <a href="javascript:void(0)" class="contact-menu">
          <span>
            <i class="fa fa-envelope-o" aria-hidden="true"></i> Contacto
          </span>
        </a>
      </div>-->
      <div class="social">
        <a href="https://www.facebook.com/Deporticket-2239033883001840">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </div>
    </div>



    <!-- Input Search Bar -->
    <div class="header-area search secondary" style="position:fixed" v-show="search_box">
      <div style="background-color:white">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Buscar..." v-model="keywords" >
      </div>
    </div>


      <!-- display content fetch  -->
      <div class="secondary fetch"  v-show="search_box">
        <div class="row" v-if="this.fetch_data.length > 0">
          <div class="col-md-12 col-sm-12"
               style="padding-top:20px;"
               v-for="e in this.fetch_data" :key="e.key">
            <a :href="'/event/'+e.slug">
              <div class="col-md-2 col-sm-4">
                <img :src="'/storage/'+e.img_square_panel" alt="">
              </div>
              <div class="col-md-10 col-sm-8">
                <h3>{{ e.title }}</h3>
                <h3>{{ e.start_date }}</h3>
              </div>
            </a>
          </div>
        </div>
      </div>



  </div>
</template>

<script>
export default {
  props: ['user',
          'login_url',
          'account_url',
          'search_url',
          'csrf_token',],
  data(){
    return{
      search_box:false,
      fetch_data:[],
      keywords:''
    }

  },
  watch: {
    keywords(after, before) {
        this.fetch_box = true;
        this.fetch();
    }
  },
  mounted() {

    (function($){

        //Toggle menu movil
        var op = false
        $(".toggleMenu").click(function(){

          if(!op){
            //Open
            $(".movil-menu").animate({top: 65 })
            op = true
          } else {
            //Close
            $(".movil-menu").animate({top: -1000 })
            op = false
          }
        })

        $(".contact-menu").click(function(){
          //Close
          $(".movil-menu").animate({top: -1000 })
          scrollTo("contact-form");
        })

        //Scroll to
        function scrollTo(id) {
          	var etop = $('#' + id).offset().top;
          	$('html, body').animate({
          	  scrollTop: etop
          	}, 1000);
        }


    }( jQuery ));
  },
  methods: {
    search() {
      if(!this.search_box){
        this.search_box = true;
      }else{
        this.search_box = false;
      }
    },
    fetch() {
      const vm = this;
        if(vm.keywords == ''){
          this.fetch_box = false;
          return false;
        }
        Vue.axios.post(this.search_url,
        {
          keywords: this.keywords,
          csrf_token:this.csrf_token

        }).then(function(response) {
          vm.fetch_data = JSON.parse(response.data)
        }).catch(function(error){
          console.log(error);
        });

    },

  }
}
</script>

<style lang="scss">

.search{
  display: block;
  width: 100%;
  position: absolute;
  margin-top:60px;
  padding: 5px;

  i{
    position: absolute;
    font-size: 26px;
    padding-top: 7px;
    padding-left: 10px;
    width: 46px;
    border-right: solid 1px #c5baba;
    height: 46px;
  }

  input{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 16px;
    padding-left: 70px;
  }

}//End search

//colors
.secondary {background-color: #ffb74d;} /* yellow */
.primary {background-color: #ff8a65;} /* zandia */


//***** Movil Menu ****/
.movil-menu{
  display: block;
  height: calc(100vh - 65px);
  background: rgba(46, 42, 45, 0.83);
  position: fixed;
  z-index: 8;
  width: 100%;
  top: -1300px;


  .social{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;

    a{
      color: white;
      font-size: 40px;
      padding: 10px;
    }
  }

  .individual{
    width: 100%;
    border-bottom: 1px solid #676363;
    text-align: center;
    padding: 15px;

    a{
      font-size: 18px;
      color: white;
    }
  }
}

.left-logo{
  font-size: 32px !important;
  letter-spacing: 5px;
  font-weight: 700;
}
//responsive
@media (max-width: 767px) {
  .search i{
    padding-left: 0 !important;
  }
  .not-movil{
    display: none !important;
  }
  .left-logo{
    font-size: 25px !important;
    padding-top: 7px !important;
    font-weight: 700;

  }
  .toggleIcon{
    display: block !important;
  }
}


.fixed-box{
  position: fixed !important;
  top:0;
}
.fetch{
  width:100%;
  left:0;
  margin-top:115px;
}
</style>
