<template lang="html">
  <div class="container init-top account">
    <div class="row">
      <div class="col-md-12 col-lg-12 init-top">

        <div class="col-lg-4 col-md-4 user-box">
          <!--profile -->
          <div class="card col-md-12 col-lg-12" v-if="!edit_profile">
            <img :src="'/storage/'+user.avatar" style="width:60%">
            <h3>{{ this.name }}</h3>
            <p class="title">{{ this.email}}</p>
            <button class="btn primary" @click="edit_profile=true">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
              Editar Perfil
            </button>
          </div>
          <!-- profile form -->
          <div class="col-md-12 col-lg-12 card padding-form" v-if="edit_profile">
            <input type="text"
                   name="name"
                   v-model="name">
            <input type="text"
                   name="email"
                   v-model="email">
            <input type="password"
                   name="pass_one"
                   v-model="pass_one"
                   placeholder="password (dejar en blanco si no desea cambiar)">
             <input type="password"
                    name="pass_two"
                    v-model="pass_two"
                    placeholder="re password">
            <button class="btn primary" @click="updateProfile()">Guardar cambios</button>
            <button @click="edit_profile=false" class="btn secondary">Cancelar</button>
          </div>
          <a href="/site/exit" class="btn secondary" v-if="!edit_profile">
            <i class="fa fa-sign-out"></i>&nbsp;
            Cerrar Sesion
          </a>
        </div>

        <div class="col-lg-8 col-md-8 detail-box">
          <h3 class="text-default border col-md-offset-2">Mis Compras </h3>

          <div class="col-md-12 col-lg-12 label secondary"
               style="margin-top:20px; padding-left:20px"
               v-show="purchases==''">
            Tu lista de compras esta vacia!, &nbsp;<a href="/"><strong>Ver Eventos Aqui!</strong></a>
          </div>

          <div class="purch" v-for="p in purchases" v-show="purchases">
            <p class="label secondary">Compra Nº {{p.id}} - {{ purch_event[p.id].title }}</p>
            <table class="table">
              <thead>
                <th>Ticket</th>
                <th>Cantidad</th>
                <th>Valor</th>
              </thead>
              <tbody>
                <tr v-for="t in tickets_detail[p.id]">
                  <td>{{ t.name }}</td>
                  <td>{{ t.quantity}}</td>
                  <td>${{ t.price }}</td>
                </tr>
                <tr>
                  <td>costo por servicio</td>
                  <td>1</td>
                  <td>{{purch_event[p.id].service_value}}%</td>
                </tr>
                <tr v-if="p.discount">
                  <td>Descuento</td>
                  <td>1</td>
                  <td>- {{p.discount}}%</td>
                </tr>
                <template v-for="td in tickets_detail[p.id]">
                  <tr v-for="tk in td.tickets">
                    <td>
                      <i class="fa fa-ticket" aria-hidden="true"></i>
                    </td>
                    <td> 1 </td>
                    <td>
                      <i class="fa fa-download" aria-hidden="true"></i>&nbsp;
                      <a download target="_self" :href="base_url+'/storage/pdf/'+tk.pdf" >{{ tk.pdf }}</a>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
            <p class="label primary t-align-center"> Valor Total de la compra: ${{ p.total_price  }}</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['user',
          'purchases',
          'tickets_detail',
          'purch_event',
          'csrf_token',
          'update_user_url'],
  data(){
    return {
      edit_profile: false,
      name: this.user.name,
      email:this.user.email,
      pass_one:'',
      pass_two:''
    }
  },
  methods: {
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    updateProfile() {
      //validate name and email
      if(this.email=='' || this.name=='' ){
        alert("Debe Ingresar su Nombre y Email!")
        return false;
      }
      if (!this.validEmail(this.email)){
        alert("Ingrese un email válido.")
        return false;
      }
      //validate password
      if(this.pass_one != ''){
        if(this.pass_one.length < 6){
          alert("Su password debe contener como mínimo 6 caracteres.")
          return false;
        }
        if(this.pass_one!=this.pass_two){
          alert("Las passwords ingresadas no coinciden.")
          return false;
        }
      }
      //Replace this with vm
      const vm = this;
      //Update User
      Vue.axios.post(this.update_user_url,
      {
        name: this.name,
        email:this.email,
        password:this.pass_one,
        csrf_token:this.csrf_token

      }).then(function(response) {
        if(response.data!=0){
          var upUser = JSON.parse(response.data)
          vm.name = upUser.name
          vm.email= upUser.email

          //Success toast
          let toast = vm.$toasted.show("Su perfil ha sido actualizado.", {
          type: "success",
          position: "top-right",
          duration : 5000,
          icon : 'check'
          });

        } else {
          console.log(response.data);
        }

      }).catch(function(error){
        console.log(error);
      });
      this.edit_profile = false

    }
  },
  created() {
    //do something after creating vue instance
    console.log(this.tickets_detail);
  }
}
</script>

<style lang="scss">

.account{

  .init-top{
    margin-top:100px;
  }

  .t-algin-left{
    text-align: left;
  }
  .t-align-right{
    text-align: right;
  }
  .t-align-center{
    text-align: center
  }


  .label {
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }

  //colors
  .secondary {background-color: #ffb74d;} /* yellow */
  .primary {background-color: #ff8a65;} /* zandia */

  .user-box{
    margin-top: 20px;
  }

  .purch {
    margin-top:20px;
  }


  //User box
  .card {
    border-top: solid 1px #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    text-align: center;
    padding:0;
    padding-top:1em;
  }

  .padding-form{
    padding-left: 5px;
    padding-right: 5px;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  //buttons
  .btn {
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;

  }

  .btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .btn:hover {
    opacity: 0.7;
    color: white;
  }

  //Input
  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }



   @media (max-width: 1000px) {
     .detail-box{
       margin-top:50px;
     }
   }

}

//colors
.secondary {background-color: #ffb74d;} /* yellow */
.primary {background-color: #ff8a65;} /* zandia */


</style>
