<template lang="html">
  <div class="container init-top" id="panel-featured">

    <h3 class="text-default col-md-offset-2 border">Proximos Eventos</h3>

    <slick class="row init-top" ref="slick" :options="slickOptions" >
      <div class="col-lg-3 col-md-3 col-sm-12 bg2" v-for="e in featured">
          <article class="event-post">
              <a :href="'/event/'+e.slug">

              <div class="img-wrap" >
                  <img :src="'/storage/'+e.img_vertical_panel" alt="">
              </div>

              <div class="box-date box-date-position-2">{{ e.start_date | moment("D&nbsp;") }}
                  <small style="vertical-align: text-top">{{ e.start_date | moment("MMMM") }}</small>
              </div>
              <div class="img-meta">
                  <h5 class="offset-5">{{ e.title }}</h5>

                  <div class="box-meta">
                      <div class="time">
                          <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                          <time >{{ e.start_date | moment("MMMM Do YYYY") }}</time>
                      </div>
                      <br>

                      <div class="meta-wrapper">
                          <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                          <span class="meta">{{ e.place }}</span>
                      </div>
                  </div>
              </div>
              </a>
          </article>
        </div>
    </slick>
  </div>
</template>

<script>
import Slick from 'vue-slick';

export default {
  props: ['featured'],
  components: { Slick },

  data() {
      return {
          slickOptions: {
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            // Any other options that can be got from plugin documentation
            responsive: [
                            {
                              breakpoint: 768,
                              settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 2
                              }
                            },
                            {
                              breakpoint: 480,
                              settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 1
                              }
                            }
                          ],
          }
        }
  },
  created() {
    //do something after creating vue instance
    //console.log(this.featured);
  }
}
</script>

<style lang="scss">
@import '../../../../../node_modules/slick-carousel/slick/slick.css';
@import '../../../../../node_modules/slick-carousel/slick/slick-theme.css';

.slick-list{
  min-height: 585px !important;
}

.init-top{
  margin-top:50px;
}
</style>
