<template lang="html">
  <header class="bg-img-1 top-init-page">
      <!-- Brand -->
      <div class="container well">
          <div class="item">
            <div class="row">
                  <article>
                      <div class="col-md-6">
                          <img :src="'/storage/'+event.img_vertical" alt="">
                          <!-- Props -->
                          <div class="ticket-box">
                            <h3 class="text-default border col-md-offset-1">
                              Tickets Disponibles
                            </h3>
                            <table class="table init-top">
                              <thead>
                                <tr>
                                  <th scope="col">Ticket</th>
                                  <th scope="col">Pre requisitos</th>
                                  <th scope="col">Inlcuidos</th>
                                  <th scope="col">Valor </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="t in tickets" :key="t.key">
                                  <td data-label="Ticket">{{ t.name }}</td>
                                  <td data-label="Pre requisitos">
                                    <span class="label primary" v-if="t.min_age || t.max_age">
                                      Edad: <span v-if="t.min_age">{{t.min_age}}</span>
                                                  <span v-if="t.min_age || t.max_age"> - </span>
                                                  <span v-if="t.max_age">{{t.max_age}}</span>
                                    </span><br>
                                    <span class="label primary" v-if="t.expiration">Fecha de expiración: {{t.expiration}}</span>
                                    <span class="label primary" v-if="t.distance">Distancia: {{t.distance}}</span>
                                  </td>
                                  <td data-label="Incluido">
                                    <span class="label secondary" v-for="p in t.props" >
                                     {{ p.name }}
                                    </span>
                                  </td>
                                  <td data-label="Valor">${{ t.price }} clp</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                      <div class="col-md-offset-1 col-md-5 offset-8 box-event">
                          <h3 class="text-contrast-md text-primary offset-2">
                            {{ this.event.title }}
                          </h3>

                          <div  class="box-meta box-meta-md text-contrast-md text-primary box-meta-offset-2">
                            <p>
                              <span class="icon icon-primary icon-md fl-bigmug-line-nine16"></span>
                              <time>{{ event.start_date | moment("MMMM Do YYYY") }}</time>
                            </p>
                            <p>
                              <span class="icon icon-primary icon-md fl-bigmug-line-big104"></span>
                              <span class="meta inset-1 text-left">&nbsp;{{ event.place }}</span>
                            </p>
                          </div>

                          <a v-if="user != null" :href="'/buy/'+event.slug" class="btn btn-primary btn-md" >&nbsp;&nbsp; TICKETS &nbsp;&nbsp;</a>
                          <a v-else :href="login_url" class="btn btn-primary btn-md" >&nbsp;&nbsp; TICKETS &nbsp;&nbsp;</a>

                          <div class="content">
                              <p>{{ event.description }}</p>
                          </div>


                      </div>
                  </article>

                  <div class="col-md-12 col-lg-12 top-init-page">
                    <span v-html="event.content"></span>
                  </div>
              </div>
          </div>
          <!--end item -->
      </div>
  </header>


</template>

<script>
export default {
  props: ['event','user','login_url','tickets'],
  created() {
    //do something after creating vue instance
    //console.log(this.event.content);
  }
}
</script>

<style lang="scss">
.top-init-page{
  margin-top:50px
}
.box-event{
  margin-top: 100px;
}
.content{
  margin-top: 230px !important;
}
.btn-primary{
  z-index: 1;
}

//Labels
.label {
  color: white;
  padding: 5px;
  font-size: 10px;
}

//colors
.secondary {background-color: #ffb74d;} /* yellow */
.primary {background-color: #ff8a65;} /* zandia */
//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 767px) {
  .content{
    margin-top: 60px !important;
  }
  .box-event{
    margin-top: 50px !important;
  }
  .box-meta{
    text-align: center !important;
  }
  .ticket-box{
    margin-top: 180px !important;
  }
}

</style>
