<template lang="html">
  <div class="container login-box" style="padding-bottom:30px">
    <div class="row">
      <div class="col-md-10 col-md-offset-1" style="margin-top:100px">

          <div id="loader" style="display:none" class="lds-facebook col-md-1"><div></div><div></div><div></div></div>
          <!-- register from -->
          <div class="col-md-12" v-show="show_register">

            <h3 class="text-default borde col-md-offset-1" style="padding-bottom:30px">
              Registro
            </h3>

            <button class="social-signin facebook" @click="goToFcb()">
              <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
              Registro con facebook
            </button>
            <input v-model="username_reg"
                   type="text"
                   name="username_reg"
                   placeholder="Username" />
            <input v-model="email_reg"
                   type="text"
                   name="email_reg"
                   placeholder="E-mail" />
            <input v-model="pass_one_reg"
                   type="password"
                   name="pass_one_reg"
                   placeholder="Password" />
            <input v-model="pass_two_reg"
                   type="password"
                   name="pass_two_reg"
                   placeholder="Re escriba password" />

            <button class="btn-submit bg-primary" @click="register()">
              <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;
              Registrar
            </button>

            <p class="simple-text">
              Ya tengo una cuenta, <a @click="toogleForm(false,true)" href="#">Iniciar Sesión!</a>
            </p>
          </div>

          <!-- Login form -->

          <div class="col-md-12" v-show="show_login">
            <h3 class="text-default border col-md-offset-1" style="padding-bottom:30px">Iniciar Sesión</h3>

            <button @click="goToFcb()" class="social-signin facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
              Iniciar Session
            </button>

            <input v-model="email"
                   type="text"
                   name="email"
                   placeholder="E-mail" />
            <input v-model="password"
                   type="password"
                   name="password"
                   placeholder="Password" />

            <button class="btn-submit bg-primary" @click="startSession()" >
              <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;
              Iniciar Sesión
            </button>

            <p class="simple-text">
              ¿No tienes cuenta?, <a @click="toogleForm(true,false)" href="#">Registrate Aqui!</a>
            </p>
          </div>

      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['csrf_token','start_url','register_url'],
  data(){
    return {
      show_login: true,
      show_register:false,
      email:'',
      password:'',
      username_reg:'',
      email_reg:'',
      pass_one_reg:'',
      pass_two_reg:'',
      loader_: false,

    }
  },
  methods: {
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    toogleForm(sr,sl) {
      this.show_login=sl
      this.show_register=sr
    },
    goToFcb(){
      window.location.href = '/auth/facebook';
    },
    startSession(){
      Vue.axios.post(this.start_url,
      {
        email:this.email,
        password:this.password,
        csrf_token:this.csrf_token

      }).then(function(response) {
        if(response.data!=0){
          window.location.replace("/");
        } else {
          alert("Email o password no son correctos!");
        }
      }, function(error) {
        console.log(error);
      });
    },

    register(){
      if(this.email_reg=='' || this.username_reg=='' ){
        alert("Debe Ingresar su Nombre y Email!")
        return false;
      }
      if (!this.validEmail(this.email_reg)){
        alert("Ingrese un email válido.")
        return false;
      }
      if(this.pass_one_reg.length<6){
        alert("Su password debe contener como mínimo 6 caracteres")
        return false;
      }
      if(this.pass_one_reg!=this.pass_two_reg){
        alert("Las passwords ingresadas no coinciden!")
        return false;
      }
      if(this.pass_one_reg=='' || this.pass_two_reg==''){
        alert("Debe ingresar ambos passwords!");
        return false;
      }
      //Show loader
      var loader = document.getElementById("loader")
      loader.style.display="block"
      //Register User
      Vue.axios.post(this.register_url,
      {
        name: this.username_reg,
        email:this.email_reg,
        password:this.pass_one_reg,
        csrf_token:this.csrf_token

      }).then(function(response) {
        if(response.data==1){
          window.location.replace("/");
        } else {

          (function($){
            setTimeout(function(){ loader.style.display="none" }, 900);
            setTimeout(function(){ alert(response.data); }, 1000);
          }(jQuery))

        }

      }).catch(function(error){
        console.log(error);
      });
   }


  }
}
</script>

<style lang="scss">

.login-box{

    .simple-text{
      text-align:center;
      margin-top:20px;
      line-height: 20px;
    }
    input[type="text"],
    input[type="password"] {
      display: block;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding: 4px;
      width: 100%;
      height: 32px;
      border: none;
      border-bottom: 1px solid #AAA;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      transition: 0.2s ease;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      border-bottom: 2px solid #16a085;
      color: #16a085;
      transition: 0.2s ease;
    }

    .btn-submit {
      margin-top: 20px;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-weight: 500;
      font-size: 18px;
      transition: 0.1s ease;
      cursor: pointer;
    }

    .bg-primary{
      background: #ff8a65;
    }
    .bg-secondary{
      background: #ffb74d;
    }

    .btn-submit:hover,
    .btn-submit:focus {
      opacity: 0.8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      transition: 0.1s ease;
    }

    input[type="submit"]:active {
      opacity: 1;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: 0.1s ease;
    }


    .social-signin {
      margin-bottom: 20px;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-weight: 500;
      font-size: 18px;
      transition: 0.2s ease;
      cursor: pointer;
    }

    .social-signin:hover,
    .social-signin:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      transition: 0.2s ease;
    }

    .social-signin:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: 0.2s ease;
    }

    button.social-signin.facebook {
      background: #32508E;
    }

    button.social-signin.twitter {
      background: #55ACEE;
    }

    button.social-signin.google {
      background: #DD4B39;
    }


    //Loader
    .lds-facebook {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 6px;
      width: 13px;
      background: #ffb74d;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 6px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 26px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 45px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 6px;
        height: 51px;
      }
      50%, 100% {
        top: 19px;
        height: 26px;
      }
    }

  }
</style>
