#chat-f-b img.chat-logo {
    padding-right: 15px;
    max-width: 50px;
    max-height: 50px;
}
#b-c-facebook .f-chat-conent .chat-single a,
#chat_f_b_smal {
    font-family: Arial, sans-serif;
}
#b-c-facebook .chat-f-b,
#chat_f_b_smal {
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    text-decoration: none
}
.chat_f_vt {
    position: fixed;
    right: 10px
}
#chat_f_b_smal {
    padding: 0 10px;
    cursor: pointer;
    width: 195px;
    color: #fff;
    height: 38px;
    line-height: 38px;
    background-color: #e64510;
    border: 0;
    margin-right: 12px;
    font-size: 14px;
    z-index: 999999999;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    display: none
}
#chat_f_b_smal:hover {
   opacity: 1;
}
#b-c-facebook {
    bottom: 0;
    z-index: 9999999999;
    width: 250px;
    height: auto;
    max-height: 375px;
    min-height: 38px;
        box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.09);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden
}
#b-c-facebook .f-chat-conent {
    float: left;
    width: 100%;
    height: 335px;
    overflow: hidden;
    display: none;
    background-color: #fff;
    position: relative
}
#b-c-facebook .f-chat-conent .chat-single {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    line-height: 25px;
    color: #fff;
    width: 100%
}
#b-c-facebook .f-chat-conent .chat-single a {
    float: left;
    text-decoration: none;
    margin-left: 10px;
    color: #0C5BB5;
    font-size: 12px
}
#b-c-facebook .f-chat-conent .chat-single a:hover {
    color: #F60
}
#b-c-facebook .chat-f-b label {
        width: 185px;
}
#b-c-facebook .f-chat-conent .chat-single label {
    float: right;
    color: silver;
    margin-right: 5px;
    font-size: 12px;
    font-family: Arial
}
#b-c-facebook .chat-f-b,
#b-c-facebook .chat-f-b label {
    line-height: 20px;
    margin: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px
}
#b-c-facebook .f-chat-conent .chat-single i {
    color: #0C5BB5
}
#b-c-facebook .f-chat-conent .fb-page {
    margin-top: 0;
    float: left;
    height: 310px
}
#b-c-facebook .chat-f-b {
    float: left;
    padding: 0 25px;
    padding-left: 15px;
    width: 250px;
    color: #fff;
    height: 38px;
    line-height: 38px;
    background-color: #3a5897;
    border: 0;
    z-index: 9999999;
    margin-right: 12px
}
#b-c-facebook .chat-f-b label {
    position: absolute;
    top: 10px
}
.title-f-chat-icon {
    margin-left: -10px
}
#t_f_chat {
    float: left;
    position: absolute;
    right: 15px;
    top: 0
}
#t_f_chat a {
    color: #fff;
    font-size: 17px;
    font-family: verdana;
    text-decoration: none
}
#t_f_chat a:hover i {
    color: #ff0;
    text-decoration: none
}
.chat-left-5 {
    margin-left: 5px
}
#fb_chat_start {
    position: absolute;
    width: 248px;
    height: 239px;
    top: 70px;
    left: 0;
    background-color: #fff;
    padding: 10px;
    float: left;
    display: none;
}
#fb_chat_start em {
    font-size: 11px;
    color: gray
}
.msg_b {
    color: #434a54;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: #edeef1;
    padding: 10px 10px;
    min-height: 13px;
    margin-bottom: 5px;
    position: relative;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #dfe3e9;
}

#chat_f_close {
    opacity: 0.5;
}
#chat_f_close:hover {
    opacity: 1;
}
.msg_b a {
    text-decoration: underline;
    color: #01509E
}
#f_bt_start_chat {
    margin: auto;
    background-color: #3a5897;
    border-radius: 3px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 35px;
    text-decoration: none

}
#f_bt_start_chat:hover {
    text-decoration: none;
    opacity: 0.8;
}
#fb_chat_start p {
    margin-top: 30px;
}
#fb_alert_num {
    background-color: #ff0;
    padding: 0 7px;
    color: red;
    border-radius: 40px;
    font-size: 13px;
    font-family: Arial;
    font-weight: 700;
    position: absolute;
    right: 55px;
    top: 12px;
    height: 20px;
    line-height: 20px;
    display: none !important;
}
.fb_hide {
    display: none
}
#f_enter_3 {
    margin-top: 30px;
}
